- if (pageName)
	title.
		#{site.name} - #{pageName}
- else
	title #{site.name}
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='keyword', content='#{site.keyword}')
meta(name='description', content='#{site.description}')
link(rel='icon',type='image/x-icon',href='#{site.favicon}')
link(href='/public/stylesheet/normalize.css',rel='stylesheet')
link(href='/public/stylesheet/markdown.css', rel='stylesheet')
link(href='/public/stylesheet/style.css',rel='stylesheet')