- if (pageName)
	title.
		#{site.name} - #{pageName}
- else
	title #{site.name}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="keyword", content="#{metaKeywords}")
meta(name="description", content="#{metaDescription}")
meta(name="viewport", content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width")
link(rel='icon',type='image/x-icon',href='#{site.favicon}')
link(rel='alternate',type='application/rss+xml',title='#{site.name} &raquo; Feed',href='#{site.rssUrl}')
link(href="/public/stylesheet/normalize.css",rel="stylesheet")
link(href="/public/stylesheet/style.css",rel="stylesheet")